*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgba(236, 236, 236, 0.959)
}   

/* for sticky navbar */
.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* end */


li, a, button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navbar{ 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.6rem 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
    background:#182B4D no-repeat;   
}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;  
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #617DBF;
}

button
{
    margin-left: 20px;
    padding: 5px 25px;
    background-color:#E5ECFA;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    color: black;
}
button:hover{
    background-color:#5972ac;
    color: white;
}

/* body css */

.container{
    background: linear-gradient(360deg, rgb(61, 107, 145) 0.5%, rgb(112, 135, 155) 5%, rgb(216, 222, 235)  40%, rgb(229, 236, 250)  70%);
    display: grid;
    height: 92.9vh;
    grid-template-columns: .2fr 2fr .1fr 1fr .2fr;
    grid-template-rows: .3fr 1fr 1fr .3fr;
}

.table{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    padding: 15px;
    background-color:white; 
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.568);
}

.td1{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    text-align: center;
}

.td2{
    border: 1px solid rgb(196, 196, 196);
    border-radius: 5px;
    text-align: center;
    color: black;
}

.td3{
    color: black;;
}

.for-edit{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 4;
    background-color:white; 
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.568);
}