*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgba(236, 236, 236, 0.959)
}   

/* for sticky navbar */
.content {
    padding: 16px;
  }
  
  .sticky {
    position: fixed;
    top: 0;
    width: 100%;
  }
  
  .sticky + .content {
    padding-top: 60px;
  }

/* end */


li, a, button{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
    
}

.navbar{ 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.6rem 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
    background:#182B4D no-repeat;   
}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;  
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #617DBF;
    
}

button
{
    margin-left: 20px;
    padding: 5px 25px;
    background-color:#E5ECFA;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    color: black;
}
button:hover{
    background-color:#5972ac;
    color: white;
}

/* body css */

.container{
    background: linear-gradient(360deg, rgb(61, 107, 145) 0.5%, rgb(112, 135, 155) 5%, rgb(216, 222, 235)  40%, rgb(229, 236, 250)  70%);
    display: grid;
    height: 92.9vh;
    grid-template-columns: .5fr 1fr .2fr 1fr .2fr 1fr .5fr;
    grid-template-rows: 2fr  2fr 1fr 2fr 2fr;
}

.form1{
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:2;
    grid-row-end:3;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
    
}
.form-content{
    display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.icon1{
    height: 150px;
    width: 150px;
}

.manage-btn{
    color: white;
    background-color: #182B4D;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid transparent;
    box-shadow: 0 2px 2px rgb(65, 65, 65);
    margin-left: 0;
}
.bold-text{
    font-weight: bold;
    color:#182B4D ;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}
.form2{
    border-radius: 5px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:2;
    grid-row-end:3;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}

.form3{
    border-radius: 5px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start:2;
    grid-row-end:3;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}

.form4{
    border-radius: 5px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start:4;
    grid-row-end:5;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}

.form5{
    border-radius: 5px;
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start:4;
    grid-row-end:5;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}

.form6{
    border-radius: 5px;
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start:4;
    grid-row-end:5;
    background-color: white;
    height: auto;
    box-shadow: 0 1px 4px rgb(122, 122, 122);
}