/* home contianer */

.home-container {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../system_images/home-light.svg);
    /* Only the second image as background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
    border: none;
    border-bottom: 1px solid var(--box-shadow);
}

.home-container::before {
    content: "";
    position: absolute;
    top: 18%;
    /* Adjust based on your design */
    right: 10%;
    /* Adjust based on your design */
    width: 50vh;
    /* Size of the first background image */
    height: 50vh;
    /* Size of the first background image */
    background-image: url(../system_images/logo.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    /* Ensure it's on top of the main background */
}



/* Dark mode styles */
body.dark-mode .home-container {
    background-image: url(../system_images/home-dark.svg);
    /* Dark mode background image */
}

body.dark-mode .home-container::before {
    background-image: url(../system_images/whitelogo.png);
    /* Dark mode logo image */
}


.home-container .text-container {
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    color: var(--text-color);
    gap: 20px;
}

.home-container h1 {
    font-size: 8rem;
}

.home-container h2 {
    font-size: 3rem;

}

.home-container p {
    font-size: 2rem;
    width: 800px;
    text-align: justify;
}



/* button do not touch */


/* From Uiverse.io by alexmaracinaru */
.cta {
    border: none;
    background: none;
    cursor: pointer;
}

.cta span {
    padding-bottom: 7px;
    letter-spacing: 4px;
    font-size: 14px;
    padding-right: 15px;
    text-transform: uppercase;
    color: var(--text-color);
}

.cta svg {
    transform: translateX(-8px);
    transition: all 0.3s ease;


}

.cta:hover svg {
    transform: translateX(0);

}

.cta:active svg {
    transform: scale(0.9);

}

.hover-underline-animation {
    position: relative;
    padding-bottom: 20px;
}

.hover-underline-animation:after {
    content: "";
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--text-color);
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
}

.cta:hover .hover-underline-animation:after {
    transform: scaleX(1);
    transform-origin: bottom left;
}















/* nice design title */
.title-head {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;


}

.shadows {
    position: relative;
    text-transform: uppercase;
    text-shadow: -10px 5px 10px var(--box-shadow);
    color: var(--pure-white);
    letter-spacing: -0.20em;
    font-family: 'Anton', Arial, sans-serif;
    user-select: none;
    text-transform: uppercase;
    font-size: 15rem;
    transition: all 0.25s ease-out;
    font-weight: bold;
}

.shadows:hover {
    text-shadow: -10px 4px 10px var(--text-shadow);
}












/* services-container */


.services-container {
    width: 100%;
    padding: 40px 100px 40px 100px;
    /* background-image: url(../system_images/services-light.svg); */
    background-color: var(--second-bgcolor);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}




.services-container h1 {
    color: var(--text-color);
    font-size: 3rem;
    padding: 10px;
}

.services-box-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.services-box-container {
    display: flex;
    gap: 40px;
    padding: 10px 0 40px 0;
    overflow-x: hidden;
    scroll-behavior: smooth;

}

.service-box {
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 10px;
    padding: 40px;
    min-width: 400px;
    max-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box img {
    width: 150px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.service-box h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 15px 0;
    text-transform: capitalize;
}

.service-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: justify;
    height: 150px;
    overflow-y: scroll;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px var(--box-shadow-hover);
}

.scroll-left,
.scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.251);
    color: var(--pure-white);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-left:hover,
.scroll-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}





.animated-button {
    margin-top: 20px;
    position: relative;
    display: flex;
    align-items: center;
    gap: 4px;
    padding: 16px 36px;
    font-size: 12px;
    border-radius: 100px;
    font-weight: 600;
    color: var(--text-color);
    box-shadow: 0 0 0 1px var(--box-shadow);
    background-color: var(--second-bgcolor);
    cursor: pointer;
    overflow: hidden;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button svg {
    position: absolute;
    width: 24px;
    fill: var(--text-color);
    z-index: 9;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .arr-1 {
    right: 16px;
}

.animated-button .arr-2 {
    left: -25%;
}

.animated-button .circle {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #46486615;
    border-radius: 50%;
    opacity: 0;
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button .text {
    position: relative;
    z-index: 1;
    transform: translateX(-12px);
    transition: all 0.8s cubic-bezier(0.23, 1, 0.32, 1);
}

.animated-button:hover {
    box-shadow: 0 0 0 12px transparent;
    color: var(--text-color);
}

.animated-button:hover .arr-1 {
    right: -25%;
}

.animated-button:hover .arr-2 {
    left: 16px;
}

.animated-button:hover .text {
    transform: translateX(12px);
}

.animated-button:hover svg {
    fill: #1f387e;
}

.animated-button:active {
    scale: 0.95;
    box-shadow: 0 0 0 4px rgb(188, 215, 255);
}

.animated-button:hover .circle {
    width: 220px;
    height: 220px;
    opacity: 1;
}

/* end of services */
























/* Ready made products container */

.readymade-products-container {
    width: 100%;
    padding: 40px 0 40px 0;
    background-image: url(../system_images/readymade-light.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    /* background-color: var(--second-bgcolor); */
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    margin-bottom: 20px;
}

.readymade-products-container h1 {
    margin: 0;
    padding: 25px 0 10px 0;
}

/* Dark mode styles */
body.dark-mode .readymade-products-container {
    background-image: url(../system_images/readymade-dark.svg);
    /* Dark mode background image */
}

.readymade-search-container {
    width: 100%;
    background-color: var(--first-bgcolor);
    padding: 10px 40px;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    border: 1px solid var(--box-shadow);
    border-left: none;
    border-right: none;
}


.search-input {
    padding: 10px 20px;
    border: 1px solid var(--box-shadow);
    border-radius: 25px;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    outline: none;
    color: var(--text-color);
    background-color: var(--second-bgcolor);
}

.search-input:focus {
    border-color: var(--box-shadow);
    box-shadow: 0 0 4px var(--search-hover);
}


.custom-select {
    padding: 10px 10px;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    font-size: 1.5rem;
    background-color: var(--second-bgcolor);
    appearance: none;
    outline: none;
    cursor: pointer;
    transition: all 0.3s ease;
    background-repeat: no-repeat;
    background-position: right 15px top 50%;
    background-size: 10px 10px;
    color: var(--text-color);
}

.custom-select:hover{
    background-color: var(--hover-color);
}


.custom-select option {
    padding: 10px;
}



.readymade-box-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: center;
}

.readymade-box {
    width: 300px;
    display: flex;
    flex-direction: column;
    background-color: var(--first-bgcolor);
    color: var(--text-color);
    padding: 20px;
    border-radius: 5px;
    border: 1px solid var(--box-shadow);
}





.readymade-box img {
    max-width: 150px;
    max-height: 150px;
    align-self: center;
    border-radius: 2px;
}

.readymade-box h2 {
    padding: 10px;
    text-align: center;
    font-size: 2rem;
    text-transform: capitalize;
}

.readymade-box .info-label p {
    text-transform: capitalize;
}

.readymade-box .info-label {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.6rem;
}


.readymade-box .info-label label {
    font-weight: bold;
}

.readymade-box .description {
    margin: 10px 0;
    text-align: justify;
    height: 30px;
    overflow-y: scroll;
    font-size: 1.4rem;
}






/* paging */
.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px 0 0 0;
}

.pagination-link {
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    color: var(--text-color);
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.pagination-link.active {
    background-color: var(--shopnow-bg);
    color: var(--pure-white);
}

.pagination-link:hover {
    background-color: var(--box-shadow);
}

.pagination-link.disabled {
    color: #ccc;
    cursor: not-allowed;
}







/* shop now button */

.readymade-box a {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 10px;
    border: solid 4px var(--box-shadow);
    font-family: inherit;
    justify-content: center;

}

.default-btn,
.hover-btn {
    background-color: var(--shopnow-bg);
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px 0;
    font-size: 1.5rem;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .3s ease;
}

.hover-btn {
    position: absolute;
    inset: 0;
    background-color: var(--first-bgcolor);
    transform: translate(0%, 100%);
}

.default-btn span {
    color: var(--pure-white);
    font-weight: bold;
}

.hover-btn span {
    color: var(--text-color);
    font-weight: bold;
}

a:hover .default-btn {
    transform: translate(0%, 0%);
}

a:hover .hover-btn {
    transform: translate(0%, 0%);
}

/* end */






















/* product type part */
.productType-box-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.productType-box-container {
    display: flex;
    gap: 40px;
    padding: 10px 0 40px 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

.productType-box {
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 10px;
    padding: 40px;
    min-width: 400px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.productType-box img {
    width: 200px;
    height: auto;
    border-radius: 10px 10px 0 0;
}

.productType-box h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 15px 0;
    text-transform: capitalize;
}

.productType-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: justify;
    height: 200px;
    overflow-y: scroll;
}

.productType-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px var(--box-shadow-hover);
}

.scroll-left,
.scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.251);
    color: var(--pure-white);
    border: none;
    padding: 20px;
    cursor: pointer;
    z-index: 10;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-left:hover,
.scroll-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* product type end */

























/* about section start */
.about-container {
    width: 100%;
    padding: 100px;
    background-image: url(../system_images/about2-light.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 1;
    border: 1px solid var(--box-shadow);
    border-left: none;
    border-right: none;
    display: flex;
    flex-direction: column;
}


body.dark-mode .about-container {
    background-image: url(../system_images/about2-dark.svg);
}


.about-container h1 {
    font-size: 6rem;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 40px;
    align-items: center;
}

.about-container p {
    font-size: 2rem;
    margin-top: 20px;
    text-align: justify;
    color: var(--text-color);
}

.about-container h2 {
    font-size: 2rem;
    font-family: 'Anton', Arial, sans-serif;
    color: var(--text-color);
}



.about-container img {
    width: 300px;
    align-self: center;
}

.about-container #tailordo {
    width: 500px;
    margin-top: 10px;
    padding: 5px;
    background-color: var(--first-bgcolor);
}
body.dark-mode .about-container img {
    content: url('../system_images/whitelogo.png');
}
body.dark-mode .about-container #tailordo {
    content: url('../system_images/tailordo.jpg');
}

/* end */









/* contact us container */

.contact-container {
    width: 100%;
    padding: 100px;
    background-color: var(--second-bgcolor);
    display: flex;
    flex-direction: column;
}


.contact-container h1 {
    font-size: 4rem;
    color: var(--text-color);
    text-align: center;
    margin-bottom: 40px;
    align-items: center;
}

.contact-container .second-contact-container {
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.second-contact-container .left {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.second-contact-container .left p {
    color: var(--text-color);
    font-size: 2rem;
    text-align: justify;
}


.second-contact-container .left label {
    color: var(--text-color);
    font-size: 2rem;
    font-family: 'Anton', Arial, sans-serif;
}


.second-contact-container .right {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 50%;
}

.second-contact-container .right h2 {
    color: var(--text-color);
    font-size: 2rem;
    font-family: 'Anton', Arial, sans-serif;
}


.right .contact-input-container {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contact-input-container label {
    font-size: 2rem;
    color: var(--text-color);
}

.contact-input-container input {
    font-size: 2rem;
    height: 40px;
    border-radius: 5px;
    color: var(--text-color);
    padding: 5px;
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
}


.contact-input-container textarea {
    font-size: 2rem;
    height: 120px;
    border-radius: 5px;
    color: var(--text-color);
    padding: 5px;
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
}

.right button {
    padding: 10px;
    color: var(--pure-white);
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    background-color: var(--button-bg);
}

.right button:hover {
    box-shadow: 0 0 0 4px var(--box-shadow-hover);
}



































/* Extra small devices (portrait phones, less than 576px) */
@media only screen and (max-width: 575.98px) {
    /* Your styles here */


    /* home contianer */

    .home-container {
        padding: 0 20px;
    }

    .home-container::before {
        top: 60%;
        /* Adjust based on your design */
        right: 23%;
        /* Adjust based on your design */
        width: 30vh;
        /* Size of the first background image */
        height: 30vh;
        /* Size of the first background image */
    }

    .home-container .text-container {
        margin-bottom: 150px;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-start;
        flex-direction: column;
        color: var(--text-color);
        gap: 20px;
    }

    .home-container h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }

    .home-container h2 {
        font-size: 2rem;
    }

    .home-container p {
        font-size: 2rem;
        width: fit-content;
        text-align: justify;
    }


    /* button do not touch */



    /* nice design title */
    .title-head {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        margin-bottom: 20px;


    }

    .shadows {
        font-size: 10rem;
    }




    /* services-container */
    .services-container {
        width: 100%;
        padding: 50px 20px;
        /* background-image: url(../system_images/services-light.svg); */
        background-color: var(--second-bgcolor);
        z-index: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
    }


    .services-container h1 {
        color: var(--text-color);
        font-size: 3rem;
        padding: 40px 0;
    }

    .service-box img {
        width: 100px;
        height: auto;
        border-radius: 10px 10px 0 0;
    }


    .services-box-container {
        display: flex;
        gap: 20px;
        padding: 10px 0 40px 0;
        overflow-x: scroll;
        scroll-behavior: smooth;

    }

    .service-box {
        min-width: 320px;
        padding: 20px;
    }


    .service-box h2 {
        font-size: 2rem;
    }

    .service-box p {
        font-size: 1.6rem;
    }


    /* end of services */








    /* Ready made products container */


    .readymade-products-container h1 {
        font-size: 2rem;
        margin: 0;
    }


    .readymade-search-container {
        width: 100%;
        background-color: var(--first-bgcolor);
        padding: 20px 40px;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .readymade-box img {
        max-width: 100px;
        max-height: 100px;
        align-self: center;
        border-radius: 2px;
    }

    /* end */



    .productType-box-wrapper {
        position: relative;
        width: 100%;
        overflow: hidden;
    }

    .productType-box-container {
        display: flex;
        gap: 20px;
        padding: 10px 0 40px 0;
        overflow-x: scroll;
        scroll-behavior: smooth;
    }

    .productType-box {
        min-width: 320px;
        padding: 20px;
    }

    .productType-box img {
        width: 150px;
        height: auto;
        border-radius: 10px 10px 0 0;
    }






    /* about section start */
    .about-container {
        padding: 100px 20px;
    }

    .about-container h1 {
        text-align: center;
        font-size: 3rem;
    }

    .about-container p {
        font-size: 1.8rem;
    }

    .about-container img {
        width: 200px;
    }


    .about-container #tailordo {
        width: 200px;
        margin-top: 10px;
    }


    /* end */






    /* contact us container */

    .contact-container {
        padding: 100px 20px
    }


    .contact-container h1 {
        font-size: 3rem;

    }

    .contact-container .second-contact-container {

        flex-direction: column;

    }

    .second-contact-container .left {
        display: flex;
        flex-direction: column;
        gap: 10px;
        width: 100%;
    }

    .second-contact-container .left p {
        color: var(--text-color);
        font-size: 1.8rem;
        text-align: justify;
    }


    .second-contact-container .left label {
        color: var(--text-color);
        font-size: 1.8rem;
        font-family: 'Anton', Arial, sans-serif;
    }


    .second-contact-container .right {
        width: 100%;
    }




}

















/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) and (max-width: 767.98px) {
    /* Your styles here */
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) and (max-width: 991.98px) {
    /* Your styles here */
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) and (max-width: 1199.98px) {
    /* Your styles here */
}

/* Extra large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) and (max-width: 1399.98px) {
    /* Your styles here */
}

/* Extra extra large devices (1400px and up) */
@media (min-width: 1400px) {
    /* Your styles here */
}