* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: monospace;
}




@font-face {
    font-family: Royale;
    src: url(../fonts/BaskervvilleSC-Regular.ttf);
}


/* scroll bar settings */


/* width */
::-webkit-scrollbar {
    width: 6px;
    height: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: var(--first-bgcolor);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--second-bgcolor);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--thumb-hover);
}


html {
    scroll-behavior: smooth;
}



:root {
    --thumb-hover: #c5c5c5;

    font-size: 62.5%;
    /* 10px on default */

    --pure-white: white;
    --first-bgcolor: white;

    --second-bgcolor: #F4F4F4;


    --text-color: #001C31;
    --text-shadow: rgb(200, 200, 200);
    --border-color: #001C31;
    --hover-color: #2326452f;
    --box-shadow: #A4ADB4;
    --box-shadow-hover: rgb(221, 221, 221);

    /* home */
    --padding-color: #F4F4F4;

    --search-hover: #474866;

    --shopnow-bg: #001C31;
    --return-bg: #414141;
    --button-bg: #001C31;

    --text-bg: #001C31;


    --cancel-color: #dc3545;
}


.dark-mode {

    --thumb-hover: #6f6f6f;

    --text-color: white;
    --first-bgcolor: #242526;
    --second-bgcolor: #18191A;
    --text-shadow: rgb(105, 105, 105);
    --border-color: #25274D;
    --hover-color: #6f6f6f;
    --padding-color: #18191A;


    --box-shadow: #606161;
    --box-shadow-hover: rgb(57, 57, 57);

    --shopnow-bg: #131415;



}



button {
    cursor: pointer;
}


a {
    cursor: pointer;
    text-decoration: none;
    list-style: none;

}

p {
    font-family: 'Anton', Arial, sans-serif;
}

h1 {
    font-size: 6rem;
    color: var(--text-color);
    text-align: start;
    margin-bottom: 40px;
    align-items: center;
}


/* uniform for uniform elements */


/* 
button{
    padding: 10px;
    color: var(--pure-white);
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    background-color: var(--button-bg);
}

button:hover{
    box-shadow: 0 0 0 4px var(--box-shadow-hover);
} */







/* page animation */

.hidden {
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.visible {
    opacity: 1;
    transform: translateY(0);
}




.navigation-container {
    transition: box-shadow 0.3s ease;
}

.navigation-container.shadow {
    box-shadow: 0 4px 2px -3px var(--box-shadow);
}






/* toastr */
/* Customize the Toastr container */
.toast-container {
    z-index: 9999 !important;
    /* Ensure it appears above other content */
}

/* Customize success toast */
.toast-success {
    background-color: var(--button-bg) !important;
    /* Green color for success */
    color: #fff;
}

/* Customize error toast */
.toast-error {
    background-color: var(--cancel-color) !important;
    /* Red color for error */
    color: #fff;
}

/* Customize the toast title */
.toast-title {
    font-weight: bold;
    text-transform: uppercase;
}

/* Customize the toast message */
.toast-message {
    font-size: 1.4rem !important;
}





































/* navigation css */

.navigation-container {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: var(--first-bgcolor);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0 100px;
    z-index: 999;
}

.burger-menu-container {
    display: none;
}

.navigation-container .logo-container {
    display: flex;
    align-items: center;
    padding-left: 20px;
}

.logo-container-mobile {
    display: none;
}

.navigation-container .logo-container img {
    height: 60px;
}

.navigation-container .logo-container label {
    font-weight: bold;
    color: var(--text-color);
    font-size: 2.5rem;
    text-shadow: 0 2px 2px var(--text-shadow);
}



#logoImg {
    filter: invert(100%);
}



.navbar ul li {
    list-style: none;
    display: flex;
}

.navbar ul li a {
    font-size: 1.6rem;
    font-weight: bold;
    color: var(--text-color);
    display: block;
    height: 100%;
    padding: 0 20px;
    line-height: 60px;
    font-weight: bold;

}

.navbar ul li a:hover {
    background-color: var(--second-bgcolor);
    transition: ease-in-out 0.2s;
}



/* Styling for the active link */
.navbar a.active {
    background-color: var(--second-bgcolor);
    /* Change this to your preferred active background color */
    color: var(--text-color);
    /* Change this to your preferred active text color */
}




.icon-container {
    padding-right: 20px;
    display: flex;
    flex-direction: row;
    gap: 40px;
    font-size: 2.2rem;
    align-items: center;
    color: var(--text-color);
}

.icon-container i {
    cursor: pointer;
    transition: color 0.3s ease;
    color: var(--text-color);
}


.icon-container i:hover {
    color: var(--first-color);
    opacity: 0.5;
}


/* light bulb icon */






/* user menu */

.icon-container {
    position: relative;
}

.user-menu {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--first-bgcolor);
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    min-width: max-content;
    /* Adjust width to fit content */
    left: 50%;
    /* Center horizontally relative to user icon */
    top: 100%;
    /* Place dropdown directly below the user icon */
    transform: translateX(-50%);
    /* Adjust for centering */
    white-space: nowrap;
    /* Prevent text wrapping */
}

.dropdown-content a {
    color: var(--text-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    font-size: 1.6rem;
}

.dropdown-content a:hover {
    background-color: var(--first-bgcolor);
}

#userIcon {
    cursor: pointer;
}









/* Tooltip container */
.tooltip-container {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: var(--first-bgcolor);
    color: var(--text-color);
    text-align: center;
    border-radius: 6px;
    padding: 5px;
    position: absolute;
    z-index: 1;
    top: 125%;
    /* Position the tooltip below the icon */
    left: 50%;
    margin-left: -60px;
    /* Center the tooltip horizontally */
    opacity: 0;
    transition: opacity 0.3s;
    font-size: 1.7rem;

}

/* Tooltip arrow */
.tooltip-text::after {
    content: "";
    position: absolute;
    top: -5px;
    /* Position the arrow above the tooltip */
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

/* Show the tooltip text on hover */
.tooltip-container:hover .tooltip-text {
    visibility: visible;
    opacity: 1;
}


.main-container {
    z-index: 1;
}









/* footer */

footer {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding: 50px 100px 200px 100px;
    gap: 20px;
    justify-content: space-between;
    background-color: var(--first-bgcolor);
}


.footer-column-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.footer-column-container h1 {
    font-size: 3rem;
    color: var(--text-color);
    margin: 0 0 10px 0;
}

.footer-column-container a {
    color: var(--text-color);
    font-size: 1.8rem;
}

.footer-column-container a:hover {
    text-decoration: underline;
}

.footer-column-container p {
    color: var(--text-color);
    width: 200px;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.footer-column-container .follow-icons {
    display: flex;
    gap: 20px;

}

.follow-icons i {
    font-size: 2rem;
}

.follow-icons i:hover {
    font-size: 2.5rem;
    transition: ease-in-out 0.3s;
}


/* end */



























@media only screen and (max-width: 575.98px) {

    .navigation-container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        height: 60px;
        background-color: var(--first-bgcolor);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding: 0;
        z-index: 999;
    }

    #logoImg {
        filter: invert(100%);
    }

    .navbar {
        display: none;
    }

    .icon-container {
        display: none;
    }

    .burger-menu-container {
        display: contents;
        position: relative;
    }

    .burger-menu-container i {
        margin-right: 20px;
        color: var(--text-color);
        font-size: 3rem;
    }

    .burger-menu-container .burger-menu-dropdown i {
        font-size: 1.3rem;
    }

    #burgerMenuIcon {
        font-size: 3rem;
        cursor: pointer;
        transition: transform 0.3s ease;
    }

    .burger-menu-dropdown {
        display: none;
        position: absolute;
        top: 100%;
        right: 0;
        background-color: var(--first-bgcolor);
        box-shadow: 0 2px 4px var(--box-shadow);
        border-radius: 4px;
        overflow: hidden;
        z-index: 1000;
        width: 200px;
        /* Adjust the width as needed */
    }


    .burger-menu-dropdown a {
        font-size: 1.3rem;
        display: block;
        padding: 10px 15px;
        text-decoration: none;
        color: var(--text-color);
        border-bottom: 1px solid var(--second-bgcolor);
    }

    .burger-menu-dropdown a:last-child {
        border-bottom: none;
    }

    .burger-menu-dropdown a:hover {
        background-color: var(--hover-color);
    }
















    /* footer */

    footer {

        padding: 60px 20px 100px 20px;
        gap: 10px;

    }


    .footer-column-container {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .footer-column-container h1 {
        font-size: 3rem;
        color: var(--text-color);
        margin: 10px 0 10px 0;
    }

    .footer-column-container a {
        color: var(--text-color);
        font-size: 1.8rem;
    }

    .footer-column-container a:hover {
        text-decoration: underline;
    }

    .footer-column-container p {
        color: var(--text-color);
        width: 200px;
        flex-wrap: wrap;
        font-size: 1.5rem;
    }

    .footer-column-container .follow-icons {
        display: flex;
        gap: 20px;

    }

    .follow-icons i {
        font-size: 2rem;
    }

    .follow-icons i:hover {
        font-size: 2.5rem;
        transition: ease-in-out 0.3s;
    }


    /* end */
}