body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../system_images/home-light.svg);
    /* Only the second image as background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
    border: none;
    border-bottom: 1px solid var(--box-shadow);
}

/* Dark mode styles */
body.dark-mode {
    background-image: url(../system_images/home-dark.svg);
    /* Dark mode background image */
}


main {
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-color: var(--first-bgcolor);
    overflow-y: scroll;
    border-top: 1px solid var(--box-shadow);
}


main h1 {
    color: var(--pure-white);
    background-color: var(--button-bg);
    border: 1px solid var(--box-shadow);
    text-align: center;
    font-size: 2.5rem;
    margin: 10px 0;
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 100;
}


.table-container {
    margin-bottom: 60px;
    background-color: var(--first-bgcolor);
    width: 100%;
    border-radius: 5px;

}



/* table */
.styled-table {
    border-collapse: collapse;
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
}

.styled-table thead tr {
    color: var(--pure-white);
    text-align: center;

}


.styled-table thead th {
    padding: 10px 5px;
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #001C31;
}

.styled-table th {
    font-weight: bold;
    text-transform: uppercase;
}

.styled-table th,
.styled-table td {
    padding: 5px;
    border: 1px solid var(--box-shadow);
    font-size: 1.4rem;
    font-weight: bold;
    text-align: center;
    max-width: 100px;
}


.styled-table tbody tr {
    cursor: pointer;
    /* Indicates the row is clickable */
    border-bottom: 1px solid #dddddd;
    transition: background-color 0.3s ease;
    color: var(--text-color);


}

.styled-table tbody tr:nth-of-type(even) {
    background-color: var(--second-bgcolor);
}

.styled-table tbody tr:nth-of-type(odd) {
    background-color: var(--first-bgcolor);
}


.styled-table tbody tr:hover {
    background-color: var(--hover-color);
}




.photo-gallery {
    display: flex;
    overflow-x: scroll;
    gap: 10px;
    padding: 10px;
}

.styled-table td img {
    max-width: 40px;
    max-height: 40px;
    border-radius: 5px;
}



.anchor-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--box-shadow);
    background-color: var(--first-bgcolor);
    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
    gap: 20px;
}

.anchor-container a {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    font-size: 1.5rem;
}

.anchor-container a:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
}


.anchor-container button {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    font-size: 1.5rem;
}

.anchor-container button:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
}






















/* Request Viewer */

.image-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    overflow-x: scroll;
    gap: 10px;
    background-color: var(--second-bgcolor);
}

.image-container img {
    max-height: 200px;
    max-width: 200px;
    background-color: var(--first-bgcolor);
    padding: 10px;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
}

.request-info-container {
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    flex-grow: 1;
    overflow-y: scroll;
    margin-bottom: 60px;

}


.request-info {
    overflow-y: scroll;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 10px;
    padding: 0 20px;

}

.request-info p {
    flex-grow: 1;
    font-size: 1.6rem;
    padding: 10px 20px;
    border-bottom: 1px solid var(--box-shadow);
    border-radius: 3px;
    background-color: var(--second-bgcolor);
}




.request-info-container h1 {
    color: var(--text-color);
    margin: 10px 0 30px 0;
    border: 1px solid var(--box-shadow);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    font-size: 2.5rem;
    text-transform: capitalize;
    border-radius: 0;
    background-color: var(--first-bgcolor);

}

.request-info-container .status-cancelled {
    color: red;
    margin: 10px 0 30px 0;
    border: 1px solid var(--box-shadow);
    border-right: 0;
    border-left: 0;
    border-top: 0;
    font-size: 2.5rem;
    text-transform: capitalize;
    border-radius: 0;
    background-color: var(--first-bgcolor);

}

.temp-hidden {
    display: none;
}



























@media only screen and (max-width: 575.98px) {
    body {
        padding: 0;
    }

    main {
        width: 100%;
        height: calc(100vh - 60px);
        margin-top: 60px;
        background-color: var(--first-bgcolor);
        overflow-y: scroll;
    }


    main h1 {
        font-size: 2rem;
    }


    .table-container {
        margin-bottom: 60px;
        background-color: var(--first-bgcolor);
        width: 100%;
        border-radius: 5px;
        padding: 10px;
    }



    /* table */
    .styled-table {
        border-collapse: collapse;
        text-align: center;
        width: 100%;
    }

    .styled-table thead tr {
        color: var(--pure-white);
        text-align: center;
    }


    .styled-table thead th {
        padding: 10px 5px;
        position: sticky;
        top: 0;
        z-index: 10;
        background-color: #001C31;
    }

    .styled-table th {
        font-weight: bold;
        text-transform: uppercase;
    }

    .styled-table th,
    .styled-table td {
        padding: 5px;
        border: 1px solid var(--box-shadow);
        font-size: 1.2rem;
        font-weight: bold;
        text-align: center;
        max-width: 100px;
        max-height: 20px;
    }


    .styled-table tbody tr {
        cursor: pointer;
        /* Indicates the row is clickable */
        border-bottom: 1px solid #dddddd;
        transition: background-color 0.3s ease;
        color: var(--text-color);


    }

    .styled-table tbody tr:nth-of-type(even) {
        background-color: var(--second-bgcolor);
    }

    .styled-table tbody tr:nth-of-type(odd) {
        background-color: var(--first-bgcolor);
    }


    .styled-table tbody tr:hover {
        background-color: var(--hover-color);
    }

    .styled-table th:nth-child(3),
    .styled-table th:nth-child(4),
    .styled-table th:nth-child(5),
    .styled-table th:nth-child(6),
    .styled-table th:nth-child(7),
    .styled-table th:nth-child(9) {
        display: none;
    }

    .styled-table td:nth-child(4),
    .styled-table td:nth-child(5),
    .styled-table td:nth-child(6),
    .styled-table td:nth-child(7),
    .styled-table td:nth-child(8),
    .styled-table td:nth-child(10) {

        display: none;
    }









    .photo-gallery {
        display: flex;
        overflow-x: scroll;
        gap: 10px;
        padding: 5px;
    }

    .styled-table td img {
        max-width: 30px;
        max-height: 30px;
        border-radius: 5px;
    }

    .anchor-container {
        left: 0;
        right: 0;
    }

    .anchor-container a {
        padding: 5px 15px;
        font-size: 1.2rem;
    }

    .anchor-container button {
        padding: 5px 15px;
        font-size: 1.2rem;
    }















    /* Request Viewer */

    .image-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding: 10px;
        overflow-x: scroll;
        gap: 10px;
        background-color: var(--second-bgcolor);
    }

    .image-container img {
        max-height: 200px;
        max-width: 200px;
        background-color: var(--first-bgcolor);
        padding: 10px;
        border: 1px solid var(--box-shadow);
        border-radius: 5px;
    }

    .request-info-container {
        display: flex;
        flex-direction: column;
        color: var(--text-color);
        flex-grow: 1;
        overflow-y: scroll;
        margin-bottom: 60px;

    }

    .request-info p {
        flex-grow: 1;
        font-size: 1.4rem;
          }




    .request-info-container h1 {
      font-size: 2rem;
    }

    .request-info-container .status-cancelled {
      font-size: 2rem;
    }

   



}