body {
    position: relative;
    width: 100%;
    height: 100vh;
    background-image: url(../system_images/home-light.svg);
    /* Only the second image as background */
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    align-items: center;
    padding: 0 100px;
    border: none;
    border-bottom: 1px solid var(--box-shadow);
}

/* Dark mode styles */
body.dark-mode {
    background-image: url(../system_images/home-dark.svg);
    /* Dark mode background image */
}


main{
    width: 100%;
    height: calc(100vh - 60px);
    margin-top: 60px;
    background-color: var(--second-bgcolor);
    overflow-y: scroll;
}

main h1 {
    color: var(--pure-white);
    background-color: var(--button-bg);
    border: 1px solid var(--box-shadow);
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    margin: 10px 0;
    position: sticky;
    top: 0;
    z-index: 100;
}






/* services-container */


.services-container {
    width: 100%;
    padding: 40px 100px 40px 100px;
    /* background-image: url(../system_images/services-light.svg); */
    background-color: var(--second-bgcolor);
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

}




.services-container h1 {
    color: var(--text-color);
    font-size: 2rem;
    padding: 40px 0;
}

.services-box-wrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
}

.services-box-container {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    padding: 10px 0 20px 0;
    overflow-x: scroll;
    /* Allow horizontal scrolling */
    scroll-behavior: smooth;

}

.service-box {
    background-color: var(--first-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 10px;
    padding: 20px;
    min-width: 300px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-box img {
    width: 100px;
    height: auto;
    border-radius: 8px;
}

.service-box h2 {
    font-size: 2rem;
    color: var(--text-color);
    margin: 15px 0;
    text-transform: capitalize;
}

.service-box p {
    font-size: 1.6rem;
    color: var(--text-color);
    text-align: justify;
    height: 100px;
    overflow-y: scroll;
    font-weight: normal;
}

.service-box:hover {
    transform: translateY(-10px);
    box-shadow: 0 6px 12px var(--box-shadow-hover);
}




.service-box {
    border: 1px solid var(--box-shadow);
    padding: 20px;
    border-radius: 8px;
    cursor: pointer;
    transition: border-color 0.3s ease;
    text-align: center;
    width: 200px;
    box-sizing: border-box;
    display: inline-block;
}



.service-box input[type="radio"] {
    position: absolute;
    opacity: 0;
    pointer-events: none;
}


.service-box.selected {
    border: 2px solid var(--cancel-color);
}

.service-box.selected h2 {
    color: var(--cancel-color);
    /* Paragraph text color when selected */
}

.service-box.selected p {
    color: var(--cancel-color);
    /* Paragraph text color when selected */
}









.scroll-left,
.scroll-right {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.132);
    color: var(--pure-white);
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 10;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}

.scroll-left:hover,
.scroll-right:hover {
    background-color: rgba(0, 0, 0, 0.7);
}


/* end of services */

main h2{
    color: var(--text-color);
    background-color: var(--first-bgcolor);
    border-bottom: 1px solid var(--box-shadow);
    text-align: center;
    font-size: 2rem;
    padding: 10px;
}





.customer-input-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding: 20px;
    justify-content: center;
    background-color: var(--first-bgcolor);
}

.customer-input-container input {
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    padding: 5px;
    font-size: 2rem;
    width: 49%;
}

.customer-input-container select {
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    padding: 5px;
    font-size: 2rem;
    width: 49%;
}

.customer-input-container textarea {
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
    padding: 5px;
    font-size: 2rem;
    width: 100%;
}









/* upload photo */

.upload-container {
    margin: 10px;
    padding: 10px;
    border: 2px dashed #cccccc;
    border-radius: 10px;
    text-align: center;
    background-color: var(--second-bgcolor);
}

/* Hide the original file input */
input[type="file"] {
    display: none;
}

/* Style for the custom file upload button */
.custom-file-upload {
    display: inline-block;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
    background-color: var(--first-bgcolor);
    font-size: 1.5rem;
    font-weight: bold;
    transition: background-color 0.3s ease;
    color: var(--text-color);
    border: 1px solid var(--box-shadow);
}



.custom-file-upload:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
}


.preview-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    margin-top: 15px;
}

.img-wrapper {
    position: relative;
    width: 200px;
    height: 200px;
    border: 1px solid var(--box-shadow);
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 2px 4px var(--box-shadow);
    background-color: var(--first-bgcolor);
    transition: transform 0.3s ease;
}

.img-wrapper:hover {
    transform: scale(1.05);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
}

.img-wrapper img {
    width: 100%;
    height: 100%;
    object-fit: cover;

}

#clear-selection {
    margin-top: 15px;
    padding: 10px 20px;
    background-color: var(--cancel-color);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#clear-selection:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
}


/* end of upload photo */





.instruction{
    font-size: 1.5rem;
    padding: 10px 40px;
    background-color: var(--first-bgcolor);
    color: var(--text-color);
}




.product-buttons-container {
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid var(--box-shadow);
    gap: 20px;
    background-color: var(--first-bgcolor);
    position: fixed;
    bottom: 0;
    left: 100px;
    right: 100px;
}

.product-buttons-container button {
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    font-size: 1.4rem;
}

.product-buttons-container span {
    padding: 8px 10px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    font-size: 1.4rem;
}

.product-buttons-container button:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
}

.product-buttons-container #return {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    border: 1px solid var(--box-shadow);
    font-size: 1.4rem;
}

.product-buttons-container #return:hover {
    box-shadow: 0 0 0 2px var(--hover-color);
}

.product-buttons-container #order-now {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 10px 20px;
}