@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s infinite linear;
}






.container {
    height: 93vh;
    background: #B7BCC7;
    display: grid;
    grid-template-columns: .05fr .6fr .05fr 3fr .05fr;
    grid-template-rows: .1fr 4fr .1fr;

}


.side-nav-holder {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 30vh;
    padding: 20px;
    height: 83vh;
    overflow-y: scroll;
}

.side-nav {
    display: flex;
    justify-content: center;
}

.side-item-holder {
    width: 100%;
}

.side-nav .side-nav-item,
.side-nav .highlighted {
    padding: 10px;
    cursor: pointer;

}

.side-nav .side-nav-item label,
.side-nav .highlighted label {
    cursor: pointer;
    color: #182B4D;
}

.side-nav .side-nav-item:hover,
.side-nav .highlighted:hover {
    cursor: pointer;
    padding-left: 30px;
    background-color: #ffffff;
    transition: 0.3s;
}



.side-nav .highlighted {
    padding-left: 30px;
    background-color: #ffffff;

}






.middle-content {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #B7BCC7;
    border-radius: 2px;
    height: 88vh;
    overflow-y: scroll;
}

.header-text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 1px 1px;
    color: #182B4D;
    font-size: 20px;
}

.dashboard-content {
   
}

.top-boxes {
    display: flex;
    align-items: center;
    justify-content: space-between ;
    padding-right: 20px;
    height: 25vh;
}

.top-boxes .box1,
.top-boxes .box2,
.top-boxes .box3,
.top-boxes .box4 {
    height: 20vh;
    width: 35vh;
    background-color: white;
    box-shadow: 0 2px 4px rgb(122, 122, 122);

}

.middle-boxes{
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.middle-boxes .largebox1,
.middle-boxes .largebox2{
    height: 60vh;
    width: 74vh;
    background-color: white;
    box-shadow: 0 2px 4px rgb(122, 122, 122);

}