@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s infinite linear;
}






.container {
    height: 93vh;
    background: #B7BCC7;
    display: grid;
    grid-template-columns: .05fr .6fr .05fr 3fr .05fr;
    grid-template-rows: .1fr 4fr .1fr;

}


.side-nav-holder {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    width: 30vh;
    padding: 20px;
    height: 83vh;
    overflow-y: scroll;
}

.side-nav {
    display: flex;
    justify-content: center;
}

.side-item-holder {
    width: 100%;
}

.side-nav .side-nav-item,
.side-nav .highlighted {
    padding: 10px;
    cursor: pointer;

}

.side-nav .side-nav-item label,
.side-nav .highlighted label {
    cursor: pointer;
    color: #182B4D;
}

.side-nav .side-nav-item:hover,
.side-nav .highlighted:hover {
    cursor: pointer;
    padding-left: 30px;
    background-color: #ffffff;
    transition: 0.3s;
}



.side-nav .highlighted {
    padding-left: 30px;
    background-color: #ffffff;

}






.middle-content {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #B7BCC7;
    border-radius: 2px;
    height: 86vh;

}

.header-text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 1px 1px;
    color: #182B4D;
    font-size: 20px;
}

.dashboard-content {}

.add-btn {
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.add-btn button {
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}

.add-btn button:hover {
    background-color: #bcbcbc;
}


.products-container {
    margin-top: 10px;
    height: 80vh;
    background-color: white;
    border-radius: 2px;
    padding: 10px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 10px;
    background-color: #172a4c;
}

.search-type {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 14px;
}
.search-type select{
    font-size: 13px;
}

.search-bar input{
    height: 20px;
    padding-left: 5px;    
}


.product-holder{
    margin-top: 5px;
    height: 70vh;
    background-color: #DDE5EB;
    overflow-y: scroll;
}

.product-show{
    display: none;
}











.header-text-add{
    width: 99%;
    background-color: #172a4c;
    padding: 5px;
    color: white;
}





.product-info-container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}




.input-fields-container{
    background-color: #DDE5EB;
    height: 72vh;
    width: 74vh;
    padding: 10px;
    overflow-y: scroll;
}













.add-image-container{
    background-color: #DDE5EB;
    height: 74.5vh;
    width: 76vh;
}