* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
    background: linear-gradient(360deg, rgb(61, 107, 145) 0.5%, rgb(112, 135, 155) 5%, rgb(216, 222, 235) 40%, rgb(229, 236, 250) 70%);
}

/* for sticky navbar */
.content {
    padding: 16px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky+.content {
    padding-top: 60px;
}

/* end */


li,
a,
button {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;

}

.navbar {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0.6rem 5%;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
    background: #182B4D no-repeat;
}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;
}

.nav-links {
    list-style: none;
}

.nav-links li {
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a {
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover {
    color: #617DBF;

}

button {
    margin-left: 20px;
    padding: 5px 25px;
    background-color: #E5ECFA;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    color: black;
}

button:hover {
    background-color: #5972ac;
    color: white;
}

/* body css */


.container {
    display: grid;
    height: 92.9vh;
    grid-template-columns: .1fr 1fr 4fr .1fr;
    grid-template-rows: .2fr 4fr .2fr;
}


/* for side nav*/
.side-nav-container {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f7faff;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: .3fr .1fr 3fr;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.671);
}

.side-nav-header {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color: #E5ECFA;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 15px;
}


.side-nav-header:hover{
    cursor: pointer;
}

.side-nav {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    display: inline-block;
    overflow-y: scroll;
}

.for-label-text{
    font-weight: bold;
    font-size: 30px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}

.for-label-text-1{
    font-weight: bold;
    font-size: 30px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}

.for-label-text-1:hover{
    cursor: pointer;
}




.for-label-text-0 {
    font-weight: bold;
    font-size: 30px;
    color: #bf0000;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}

.nav-list {
    width: 100%;
    height: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    border: 1px solid #E5ECFA;
    margin-left: 0;
    background-color: #182B4D;
    font-weight: bold;
}


.nav-list:hover {
    background-color: #E5ECFA;
    color: #182B4D;
}


.nav-list-0 {
    width: 100%;
    height: 25%;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 18px;
    background-color: #4d182b;
    margin-left: 0;
    font-weight: bold;
}

.nav-list-0:hover {
    background-color: #ffc1d6;
    color: #182B4D;
}



/* for mid content */

.middle-content {
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #f7faff;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0 2px 0 rgba(0, 0, 0, 0.671);
}


/* for walkin dashboard */

.center-welcome-label {
    padding-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-bottom: 50px;
}

.center-welcome-label label {
    font-weight: bold;
    font-size: 20px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}
.statistics-box-container{
    display: flex;
    justify-content: space-evenly;
    padding: 10px;
}
.statistics-box{
    background-color: #f7faff;
    height: 300px;
    width: 370px;
    padding: 10px;
    box-shadow: 0 2px 2px #525252;
}

/* create order content (middle-content-1)*/

.middle-content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    background-color: #f7faff;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.312);
    z-index: 2;
}

.middle-content-content {
    padding-bottom: 150px;
    background-color: #E5ECFA;
}

.inputs-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    
}

.payment-container{
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f7faff;
}

.payment-container2{
    padding-top: 20px;
    display: flex;
    justify-content: space-evenly;
    background-color: #f7faff;
}



.label1 {
    font-size: 16px;
    font-weight: bold;
}

.input {
    height: 30px;
    width: 200px;
    text-transform: capitalize;
    padding: 5px;
    border: 1px solid #C1C1C1;
    border-radius: 5px;
}

.input2 {
    height: 30px;
    width: 200px;
    text-transform: capitalize;
    padding: 5px;
    border: 1px solid transparent;
    border-radius: 5px;
    background-color: transparent   ;
}


.line-a {
    display: inline-block;
}

.line-b {
    display: inline-block;
}

.line-c {
    display: inline-block;

}


.line-a2 {
    display: inline-block;
    margin-top: 2%;
}

.line-b2 {
    display: inline-block;
    margin-top: 2%;
}

.line-c2 {
    display: inline-block;
    margin-top: 2%;
}

.measurement-header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
}

.review-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}




.measurement-container {
    display: flex;
    justify-content: center;
}

.measurement-container2 {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

.image-header {
    padding-top: 20px;
    padding-bottom: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
}

.review-order-container{
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
}
.review-order{
    padding: 10px;
    background-color: #f7faff;
    height: 500px;
    max-height: 500px;
    width: 890px;
    max-width: 890px;
    border-radius: 5px;
    overflow-y: scroll;
    box-shadow: 0 1px 1px #414141;

}

.review-order-content1{
    display: flex;
    justify-content: space-evenly;
}

/* image */


.zoom-container {
    position: relative;
    display: flex;
    justify-content: center;
    background-color: #f7faff;
    padding-top: 20px;
    padding-bottom: 20px;
}


.zoom-container img {
    width: 400px;
    transition: 0.3s;
    border: 4px double rgb(65, 65, 65);
    background-color: #f7faff;
    border-radius: 5px;
}

.zoom-container img.zoomed {
    transform: scale(2.5);
}

.photo-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 100px;
   
}

/* end */

.textarea1 {
    padding: 5px;
    width: 890px;
    height: 250px;
    border: 1px solid transparent;
    text-transform: uppercase;
    box-shadow: 0 1px 1px #414141;
}

.textarea2 {
    padding: 5px;
    color: #182B4D;
    width: 890px;
    height: 250px;
    border: 1px solid transparent;
    text-transform: uppercase;
}



.for-label-text-measurement {
    font-weight: bold;
    font-size: 20px;
    color: #182B4D;
    text-shadow: 0 1px 1px #414141;

}

.for-label-text-red {
    font-weight: bold;
    font-size: 20px;
    color: #bf0000;
    text-shadow: 0 1px 1px #414141;

}


/* for submit button */

.button-container {
    display: flex;
    justify-content: center;
    padding-top: 50px;
}

.submit-btn {
    border: 2px outset #f7faff;
    border-radius: 5px;
    color: #f7faff;
    background-color: #182B4D;
    margin-left: 0;
    box-shadow: 0 1px 1px rgb(65, 65, 65);
    font-weight: bold;
}

.submit-btn:hover {
    border: 2px outset #c2d8ff;
    color: #182B4D;
    background-color: #c2d8ff;
    transition: 0.3s;
}

.cancel-btn {
    border: 2px outset #f7faff;
    border-radius: 5px;
    color: #525252;
    background-color: #f7faff;
    margin-left: 10px;
    box-shadow: 0 1px 1px rgb(65, 65, 65);
    font-weight: bold;
}

.cancel-btn:hover {
    border: 2px outset #acacac;
    color: #ff0000;
    background-color: #acacac;
    transition: 0.3s;
}

/* for middle content 2 */

.table-container {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

table {
    border-collapse: collapse;
    display: flex;
    text-align: center;
    overflow-y: scroll;
    overflow-x: scroll;
    height: 500px;
    max-height: 500px;
    max-width: 1000px;
    border: 1px solid #C1C1C1;
    padding: 10px;
    background-color: #f7faff;
    border-radius: 5px;
}

table th {
    z-index: 1;
    text-align: center;
    position: -webkit-sticky;
    top: 0;
    position: sticky;
    background-color: #5f7fb4;
    padding: 10px;
    border: 1px solid #C1C1C1;
}

table td {
    padding: 5px;
    border: 1px solid #C1C1C1;
    overflow-x: hidden;
    background-color: #E5ECFA;
    max-width: 150px;
}

/* end */

.center-header {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

/* for middle content 3 */


/* for display and hide */
.middle-content-1 {
    display: none;
}

.middle-content-2 {
    display: none;
}

.middle-content-3 {
    display: none;
}

.middle-content-4 {
    display: none;
}

.middle-content-5 {
    display: none;
}

.middle-content-6 {
    display: none;
}

.middle-content-0 {
    display: contents;
}

.middle-content-7 {
    display: contents;
}



