@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s infinite linear;
}




.container {
    height: 93vh;
    background: #B7BCC7;
    display: grid;
    grid-template-columns: .05fr .6fr .05fr 3fr .05fr;
    grid-template-rows: .1fr 4fr .1fr;

}








.middle-content {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #B7BCC7;
    border-radius: 2px;
    height: 86vh;

}

.header-text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 1px 1px;
    color: #182B4D;
    font-size: 20px;
}

.dashboard-content {}

.add-btn {
    padding-top: 5px;
    display: none;
    justify-content: flex-end;
    
}

.add-btn button {
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}

.add-btn button:hover {
    background-color: #dbdbdb;
}


.products-container {
    margin-top: 10px;
    height: 80vh;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 6px;
    background-color: #1F3864;
}

.search-container .products-details {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 13px;

}


.search-container .products-details label {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}


.search-type {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    font-size: 13px;
    height: 23px;
}

.search-type label {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}




.search-type select {
    font-size: 13px;
}

.search-bar input {
    padding-left: 5px;
}




















.product-holder {
    height: 72vh;
    background-color: #DDE5EB;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d5d5d5;
    border-radius: 2px;
}

.product-items {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 10px;
}

.product-image {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5px;
}

.product-image img {
    height: 150px;
    width: auto;
    border-radius: 3px;
}

.items {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 4px rgb(177, 177, 177);
}

.items hr {
    border: 1px solid #DDE5EB;
}

.label-container {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    margin-top: 5px;
}

.label-container .product-colors {
    display: flex;
    gap: 5px;
}

.label-container .product-sizes {
    display: flex;
    gap: 5px;
    text-transform: uppercase;
}

.label-container .product-sizes .box {
    border: 1px solid #DDE5EB;
    padding: 3px;
    margin-left: 2px;
    color: #626262;
    background-color: #DDE5EB;
    border-radius: 3px;
}



.product-title {
    text-transform: capitalize;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.product-data {
    text-transform: capitalize;

}

.button-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
    font-size: 13px;
}

.button-container a {
    text-decoration: none;
    color: #182B4D;
}




.product-show {
    display: none;
}











.show-add-product {
    display: none;
}



.header-text-add {
    width: 99%;
    background-color: #1F3864;
    padding: 5px;
    color: white;
}





.product-info-container {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}



.input-fields-container {
    background-color: white;
    height: 72vh;
    width: 74vh;
    padding: 10px;
    overflow-y: scroll;
    color: #182B4D;
}

.input-fields-container .input-fields {
    padding: 10px;

}



.input-fields-container input {
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    width: 98%;
    padding-left: 5px;
    border: 1px solid #ccc;
    background-color: #DDE5EB;
    margin-top: 5px;
    text-transform: capitalize;
}

.input-fields-container select {
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    width: 99%;
    border: 1px solid #ccc;
    background-color: #DDE5EB;
    margin-top: 5px;
}

.input-fields-container textarea {
    font-size: 14px;
    height: 30px;
    border-radius: 3px;
    width: 98%;
    padding: 5px;
    text-transform: capitalize;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #DDE5EB;
    margin-top: 5px;
}




.product-name {
    margin-top: 20px;
}



















#colorList {
    margin-top: 10px;
    list-style: none;
}

#colorList li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#colorList li:hover {
    transform: scale(1.2);
}


.select-colors {
    display: flex;
    gap: 10px;
}


#colorInput {
    width: 430px;
}

#colorPicker {
    width: 50px;
    padding: 0;
}

#addButton {
    height: 100%;
    padding: 5px;
}






#sizeInput {
    text-transform: uppercase;
}


#sizeList {
    margin-top: 10px;
    list-style: none;
    text-transform: uppercase;
}

#sizeList li {
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#sizeList li:hover {
    background-color: gray;
    color: white;
}



#sizesInput {
    text-transform: uppercase;
}



.quantity-control {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 10px;
}

.quantity-control button {
    width: 30px;
    height: 30px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #ccc;
    background-color: #DDE5EB;
    color: #333;
    transition: background-color 0.3s ease;
}

.quantity-control button:hover {
    background-color: #ccc;
}

.quantity-control input {
    width: 30px;
    height: 30px;
    padding-left: 10px;
    font-size: 14px;
    border: none;
    text-align: center;
    color: #172a4c;
    background: none;

}

#quantityList {
    margin-top: 10px;
    list-style-type: none;
}

#quantityList li {
    margin-bottom: 5px;
}




.input-wrapper {
    position: relative;
}

.currency-symbol {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

#priceInput {
    padding-left: 20px;
    width: 96%;
}













.add-image-container {
    background-color: #DDE5EB;
    height: 72vh;
    width: 74vh;
    padding: 10px;
    color: #182B4D;
}

.image-container {
    margin: 10px;
    margin-top: 20px;
}

.preview-holder {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.preview {
    width: auto;
    height: 250px;
    display: none;
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-img {
    margin-top: 20px;
}

.tips {
    margin-top: 20px;
    font-size: 13px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.button-holder button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid;
}

.button-holder #add-product {
    background-color: #182B4D;
    color: white;
}

.button-holder #cancel {

    border: 1px solid rgb(164, 164, 164);

}

.button-holder #cancel:hover {
    background-color: #dbdbdb;
    transition: 0.3s;
}