::-webkit-scrollbar {
    width: 8px;
    height: 7px;
}


.container {
    height: 93vh;
    /* background: linear-gradient(360deg, rgb(25, 75, 117) 0.5%, rgb(72, 109, 141) 5%, rgb(169, 185, 220) 40%, rgb(229, 236, 250) 70%); */
    background: linear-gradient(360deg, rgb(17, 51, 79) 0.5%, rgb(51, 77, 99) 5%, rgb(136, 149, 177) 40%, rgb(183, 188, 199) 70%);
    display: grid;
    grid-template-columns: 1fr  1fr;
    grid-template-rows: 2fr;
}


/* left content */

.left-container{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    background-color:  white;
    height: 87vh;
    padding: 3vh;
    overflow-y: scroll;
    overflow-x: hidden;
    background: linear-gradient(180deg, rgb(253, 254, 255) 5%, rgb(155, 168, 194) 20%, rgb(249, 251, 255) 50%, rgb(254, 254, 255) 100%);
}

.left-container .header-text-container{
    font-weight: bold;
    font-size: 30px;
    padding-bottom: 20px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(99, 99, 99);
  
}

.header-text-container label{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-container input{
    height: 30px;
    width: 100%;
    padding: 3px;
}

.left-container .info-line{
    display: flex;
    justify-content: space-between;
    padding-top : 5px;
    padding-bottom: 5px;
}

.left-container .info-line input{
    width:30%;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
}

.left-container .info-line select{
    width:31.3%;
    border-radius: 5px;
    border: 1px solid #b2b2b2;
}
.left-container .info-line textarea{
    width:100%;
    height: 50px;
    padding-top : 5px;
    padding-left: 5px;
    border: 1px solid #b2b2b2;
    border-radius: 5px;
}
.center-label{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}



.center-label label{
    font-weight: bold;
    
}

.center-label button{
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid;
    border-radius: 5px;
    background-color:#182B4D;
    color: white;
    cursor: pointer;
}

.center-label button:hover{

    background-color:#0f1b31;
    color: white;
    cursor: pointer;
}

.center-image-container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;
    padding-bottom: 10px;
    background-color:#F1F1F1;
    width: 91vh;
    overflow-x: scroll;
}

.image-holder{
    height: 250px;
    min-width: 250px;
    border: 1px  rgb(74, 74, 74);
    border-radius: 5px;
    background-color: white;
    display: flex;
    justify-content: center;
    box-shadow:  0 1px 1px rgb(224, 224, 224);
    padding: 5px;
}

.image-holder img{
border-radius: 2px;
}

.left-container hr{
    border: 1px solid rgb(224, 224, 224);
    margin: 10px;
}

























/* 
left content */


.right-content{
    height: 93vh;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: grid;
    grid-template-columns: .1fr  1fr 1fr 1fr 1fr .1fr;
    grid-template-rows: .1fr .5fr .05fr .2fr .05fr 1.5fr .05fr .2fr .05fr 1.5fr .05fr .2fr .05fr  1.5fr .6fr;
}

.right-head{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}


/* ready made products */

.right-products{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 6;
    grid-row-end: 7;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(148, 148, 148);
    display: grid;
    grid-template-columns: .1fr 2fr 2fr 2fr .1fr 1fr .1fr;
    grid-template-rows: .2fr 3fr .2fr;
}

.products-content{
    grid-column-start: 2;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-x: scroll;
    overflow-y: none;
    white-space: nowrap;
    border: 0 outset #182b4d8e;
    padding: 5px;
    background-color: #edf2fd;
    border-radius: 4px;
}


.products-browse{
    grid-column-start: 6;
    grid-column-end: 7;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #edf2fd;
    border-radius: 4px;
    color: #182B4D;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
}

.products-browse:hover{
    background-color: #182b4dd5;
    color: white;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    border-radius: 4px;
}



.browse-text{
    font-weight: bold;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}



.products-head{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 4;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
}

.products-image-container{
    display: inline-block;
    text-align: center;
    background-color: white;
}

.products-image-container img{
    height: 95px;
    width: 100%;
}


.products-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.products-name-container button{
    background-color: #D3D9E6;
    color:#182B4D;
    width: 100%;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.products-name-container button:hover{
    background-color: #182B4D ;
    color:#EDF2FD;
    transition: 0.3s;
}
























/* available types of services */ 

.services-head{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 8;
    grid-row-end: 9;
    display: flex;
    justify-content: center;
    align-items: center;

}

.right-services{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 10;
    grid-row-end: 11;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(148, 148, 148);
    display: grid;
    grid-template-columns: .1fr 1.5fr 1.5fr 1.5fr 1.5fr .1fr 1fr .1fr;
    grid-template-rows: .2fr 3fr .2fr;
}

.services-content{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-x: scroll;
    white-space: nowrap;
    border: 0 outset #182b4d8e;
    padding: 5px;
    background-color: #edf2fd;
    border-radius: 4px;

}

.service-image-container{
    display: inline-block;  
    text-align: center;
    background-color: white;
}

.service-image-container img{
    height: 100px;
    width: 100%;
}

.service-name-container{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.service-name-container button{
    background-color: #D3D9E6;
    color:#182B4D;
    width: 100%;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
    
}

.service-name-container button:hover{
    background-color: #182B4D ;
    color:#EDF2FD;
    transition: 0.3s;
}


.service-name-text{
    font-weight: bold;
    margin: 0;
    border-radius: 0;
}

.service-name-text:hover{
    background-color: #182b4dd5;
}

.services-browse{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: #edf2fd;
    border-radius: 4px;
    color: #182B4D;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
}

.services-browse:hover{
    background-color: #182b4dd5;
    color: white;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    border-radius: 4px;
}


























/* custom content */
.custom-head{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 12;
    grid-row-end: 13;
    display: flex;
    justify-content: center;
    align-items: center;
}

.right-custom{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 14;
    grid-row-end: 15;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 1px 4px rgb(148, 148, 148);
    display: grid;
    grid-template-columns: .1fr 1.5fr 1.5fr 1.5fr 1.5fr .1fr 1fr .1fr;
    grid-template-rows: .2fr 3fr .2fr;
}

.custom-content{
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 3;
    overflow-y: auto;
    overflow-x: scroll;
    white-space: nowrap ;
    border: 0 outset #182b4d8e;
    padding: 5px;
    background-color: #edf2fd;
    border-radius: 4px;

}

.custom-browse{
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color:#edf2fd;
    border-radius: 4px;
    color: #182B4D;
    display: flex;
    justify-content: center;    
    align-items: center;
    text-align: center;
}

.custom-image-container{
    display: inline-block;
    text-align: center;
    background-color: white;
}
.custom-name-container button{
    background-color: #D3D9E6;
    color:#182B4D;
    width: 100%;
    padding: 5px;
    border: 1px solid transparent;
    cursor: pointer;
}

.custom-name-container button:hover{
    background-color: #182B4D ;
    color:#EDF2FD;
    transition: 0.3s;
}
.custom-name-text{
    font-weight: bold;
    margin: 0;
    border-radius: 0;
}

.custom-name-text:hover{
    background-color: #182b4dd5;
}




.custom-browse:hover{
    background-color: #182b4dd5;
    color: white;
    text-shadow: 0 1px 1px rgb(255, 255, 255);
    border-radius: 4px;
}

















/* end */



.for-label-text{
    font-weight: bold;
    font-size: 30px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.for-label-text2{
    font-weight: bold;
    font-size: 15px;
    color: #182B4D;
    text-shadow: 0 1px 1px rgb(65, 65, 65);
}

.request-form-label{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}

.req-inline-a{
    display: inline-block;
}
.req-inline-b{
    display: inline-block;
    padding-left: 60px;
}
.req-other-info{
    width: 420px;
    height: 25px;
}

.req-optional{
    font-size: 12px;
}

.req-submit-btn{
    display: flex;
    justify-content: center;
}

.req-submit{
    font-weight: bold;
}
.req-submit:hover{
    background-color: #182b4dd5;
}

.right-form{
    border: 1px solid #CAD3E0;
    padding: 5px;
    background-color: #FFFFFF;
    display:block;
    text-align: center;

}

.PandS{
    font-weight: bold;
    font-size: 20px;
}

.icon1{   
    height: 100px;
    width: 100px;

}




.invisible{
    z-index: -1;
}