
  
.side-nav-holder {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 4;
    width: 30vh;
    padding: 20px;
    height: 87.5vh;
    overflow-y: scroll;
    background: linear-gradient(180deg, rgb(155, 168, 194) 10%, rgb(249, 251, 255) 50%, rgb(254, 254, 255) 100%);
    /* background: #61737b; */
}

.side-nav {
    display: flex;
    justify-content: center;
}

.side-item-holder {
    width: 100%;
}

.side-nav .side-nav-item,
.side-nav .highlighted {
    padding: 10px;
    cursor: pointer;

}

.side-nav .side-nav-item label,
.side-nav .highlighted label {
    cursor: pointer;
    color: #182B4D;
}

.side-nav .side-nav-item:hover,
.side-nav .highlighted:hover {
    cursor: pointer;
    padding-left: 30px;
    background-color: #ffffff;
    transition: 0.3s;
}



.side-nav .highlighted {
    padding-left: 30px;
    background-color: #ffffff;

}

#logout:hover{
    border: 1px solid  rgb(255, 93, 93) ;
    background-color:  rgb(255, 93, 93);
    border-radius: 2px;
 
}

