.container {
    height: 93vh;
    /* background: linear-gradient(360deg, rgb(25, 75, 117) 0.5%, rgb(72, 109, 141) 5%, rgb(169, 185, 220) 40%, rgb(229, 236, 250) 70%); */
    background: linear-gradient(360deg, rgb(17, 51, 79) 0.5%, rgb(51, 77, 99) 5%, rgb(136, 149, 177) 40%, rgb(183, 188, 199) 70%);
    display: grid;
    grid-template-columns:  0.2fr  2fr  0.2fr;
    grid-template-rows: 0.2fr  2fr  0.2fr;
}


.middle-content{
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
    background: rgb(246, 246, 246);
    box-shadow: 0 2px 3px rgb(61, 61, 61);
    display: grid;
    grid-template-columns:  0.1fr  1fr 0.1fr 1fr  0.1fr;
    grid-template-rows: 0.1fr  2fr  0.1fr;
}

.left-content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border-radius:5px;

}




.right-content{
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background-color: white;
    border-radius:5px;
    padding: 50px;
    height: 56vh;

}


.header-text {
    padding-bottom: 10px;
}
.header-text label {
   font-weight: bold; 
   font-size: 30px;
   color: #182B4D;
}

.subheader-text {
    padding-bottom: 30px;
}
.subheader-text label {
   font-size:18px;
   color: #3f5377;
}
.email{
    padding-top: 30px;
    padding-bottom: 10px;
}
.email input{
    width: 96%;
    height: 30px;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 10px;
    padding-left: 10px;
    border-radius: 5px;
    border: 1px solid rgb(145, 145, 145);
}

.help{
    padding-top: 10px;
}
.help textarea{
    padding: 10px;
    width: 96%;
    border-radius: 5px;
    border: 1px solid rgb(145, 145, 145);
}

.blue-line{
    width: 80px;
    border: 2px solid rgb(112, 112, 245);

}

.send-btn{
    padding-top: 20px;
}
.send-btn button{
   width: 100%;
   font-size: 15px;
   font-weight: bold;
   color: white;
   background-color: #182B4D;
   padding-top: 10px;
   padding-bottom: 10px;
}
.send-btn button:hover{

    background-color: #101d33;
    transition: 0.3s;
 }
 
