.container {
    height: 93vh;
    background: linear-gradient(360deg, rgb(25, 75, 117) 0.5%, rgb(72, 109, 141) 5%, rgb(169, 185, 220) 40%, rgb(229, 236, 250) 70%);
    background: linear-gradient(360deg, rgb(17, 51, 79) 0.5%, rgb(51, 77, 99) 5%, rgb(136, 149, 177) 40%, rgb(183, 188, 199) 70%);
    /* background: linear-gradient(360deg,  rgb(178, 183, 194)  0.5%,  rgb(183, 188, 199)  5%, rgb(136, 149, 177) 50%, rgb(183, 188, 199) 70%); */
    display: grid;
    grid-template-columns:  1fr  1fr;
    grid-template-rows: 2fr;
}

.left-content{
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
    padding:60px;
}

.left-content .header-text{
    padding-top: 140px;
    padding-bottom: 5px;
}

.left-content .header-text label{
    font-weight: bold;
    font-size: 40px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-content .header-subtext label{
    font-weight: bold;
    font-size: 25px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.left-content .middle-text{
    padding-top: 50px;
}

.left-content .middle-text p{
    font-size: 20px;
    text-align: justify;
}


.left-content .learn-btn{
    padding-top: 40px;
}

.left-content .learn-btn a{
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    background-color: #182B4D;
    text-decoration: none;
    color: white;
    border: 1px solid;
    border-radius: 2px;
    box-shadow: 0 2px 4px #5c5c5c;
    font-size: 15px;
}

.left-content .learn-btn a:hover{

    background-color: #0e192c;
  
}







.right-content{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}


