.button-container a {
    position: relative;
    overflow: hidden;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    background-color: #1F3864;
    border: solid 4px #d3e3ff;
    font-family: inherit;

   }
   
   .button-container  .default-btn,.hover-btn {
    background-color: #1F3864;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 5px 10px;
    border-radius: 10px;
    font-size: 10px;
    font-weight:bold;
    text-transform: uppercase;
    transition: all .3s ease;
   }
   
   .button-container .hover-btn {
    position: absolute;
    inset: 0;
    background-color: #1F3864;
    transform: translate(0%,100%);
   }
   
   .button-container .default-btn span {
    color:white;
   }
   
   .button-container  .hover-btn span {
    color: white;
   }
   
   .button-container a:hover .default-btn {
    transform: translate(0%,-100%);
   }
   
   .button-container a:hover .hover-btn {
    transform: translate(0%,0%);
   }