*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body{
    background-color: rgba(236, 236, 236, 0.959)
}   

li, a, button{

    font-weight: 500;
    font-size: 15px;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.underline{
    text-decoration: underline 2px;
    text-underline-offset:  7px;
}

header{ 
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    display: flex;
    justify-content:flex-end;
    align-items: center;
    padding: 0.6rem 5%;
    position: sticky;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.671);
    background:#182B4D no-repeat;

}

.logo {
    cursor: pointer;
    font-size: 30px;
    font-weight: bolder;
    margin-right: auto;  
}

.nav-links{
    list-style: none;
}

.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease 0s;
}

.nav-links li a:hover{
    color: #617DBF;
}

button
{
    margin-left: 20px;
    padding: 5px 25px;
    background-color:#E5ECFA;
    border-radius: 3px;
    cursor: pointer;
    transition: all 0.3s ease 0s;
    border: none;
    color: black;
}
button:hover{
    background-color:#5972ac;
    color: white;
}
/* body css */

.container{
    margin-top:0;
    display: grid;
    height: 92.9vh;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
}
.left-content{
    background: linear-gradient(360deg, rgb(61, 107, 145) 0.5%, rgb(112, 135, 155) 5%, rgb(216, 222, 235)  40%, rgb(229, 236, 250)  70%);
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;

}


.right-content{
    background: linear-gradient(360deg, rgb(61, 107, 145) 0.5%, rgb(112, 135, 155) 5%, rgb(216, 222, 235)  40%, rgb(229, 236, 250)  70%);
    grid-column-start: 3;
    grid-column-end: 5;
    grid-row-start: 1;
    grid-row-end: 5;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.picture1{
    height:auto;
    width: auto;
    margin-bottom: 60px;
}

.reserve-btn{
    color: white;
    background-color: #182B4D;
    font-size: 15px;
    font-weight: bold;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0 2px rgb(167, 167, 167);
}   

.registration-form{
    margin-bottom: 40px;
    border: 1px solid rgb(196, 196, 196);
    padding: 20px;
    background-color: #FEFEFE;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    color: #182B4D;
    
}

.input{
    height: 30px;
    width: 500px;
    font-size: 15px;
    
    }

.submit-container{
    width: 500px;  
    display: block;
    align-items: center;
    justify-content: center;
    text-align: center;
    font-weight: normal;
    color: rgb(105, 105, 105);
}

.submit{
    font-size: 15px;
    width: 150px;
    height: 30px;
    border-radius: 2px;
    box-shadow: 0 1px 2px #2d3441;
}
.submit-login{
    color: #182B4D;
}

.signup-label-container{
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;   
}

.signup-label{
    font-size: 30px;
    font-weight: bold;
    color: #182B4D;
}