@keyframes rotate {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.rotate-icon {
    animation: rotate 2s infinite linear;
}




.container {
    height: 93vh;
    background: #B7BCC7;
    display: grid;
    grid-template-columns: .05fr .6fr .05fr 3fr .05fr;
    grid-template-rows: .1fr 4fr .1fr;

}







.middle-content {
    grid-column-start: 4;
    grid-column-end: 5;
    grid-row-start: 2;
    grid-row-end: 3;
    background: #B7BCC7;
    border-radius: 2px;
    height: 86vh;

}

.header-text h2 {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-shadow: 0 1px 1px;
    color: #182B4D;
    font-size: 20px;
}

.dashboard-content {}

.add-btn {
    padding-top: 5px;
    display: flex;
    justify-content: flex-end;
}

.add-btn button {
    padding: 5px;
    border: 1px solid rgb(187, 187, 187);
    border-radius: 2px;
}

.add-btn button:hover {
    background-color: #dbdbdb;
}


.products-container {
    margin-top: 10px;
    height: 80vh;
    background-color: white;
    border-radius: 2px;
    padding: 5px;
}

.search-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 2px;
    padding: 6px;
    background-color: #1F3864;
}

.search-type {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #ffffff;
    height: 23px;
}

.search-type label {
    font-size: 13px;
    padding: 5px;
    font-weight: bold;
}






















.product-holder {
    height: 68vh;
    background-color: white;
    overflow-y: scroll;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #d5d5d5;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
}







.product-image-container {
    height: 65vh;
    background-color: #DDE5EB;
    width: 73vh;
    border-radius: 5px;
    padding: 10px;
    overflow-y: scroll;
    display: flex;
    justify-content: center;
    align-items: center;
}

.product-image-container img {
    height: auto;
    width: 300px;
    padding: 10px;
    background-color: white;
}




























.product-info-container {
    height: 68vh;
    width: 74vh;
    display: flex;
    justify-content: center;

}

.second-info-container {
    height: 58vh;
    width: 71vh;
    padding: 10px;
    overflow-y: scroll;
}

.product-info-buttons {
    margin-top: 5px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 10px;
    background-color: #DDE5EB;
    border-radius: 5px;
}

.product-info-buttons button {
    padding: 5px;
    border-radius: 2px;
    border: 1px solid #767676;
}

.product-info-buttons button:hover {
    background-color: #cfcfcf;
}


.second-info-container .label-text label {

    color: #172a4c;

}


.second-info-container .name-input input {
    font-size: 40px;
    border: none;
    background: white;
    font-weight: bold;
    color: #172a4c;
    border: none;
    text-transform: capitalize;
}

.flex-display {
    display: flex;
    gap: 10px;
    margin-top: 10px;
}


.flex-display .product-type input {
    font-size: 20px;
    border: none;
    width: 150px;
    color: #182B4D;
    background-color: #DDE5EB;
    border: 1px solid #767676;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    font-weight: bold;

}

.flex-display .price input {
    font-size: 20px;
    border: none;
    width: 150px;
    color: #182B4D;
    background-color: #EFEFEF;
    border: none;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}



/* peso sign */

.price {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.currency {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    text-align: center;
}







.gender input {
    font-size: 13px;
    border: none;
    width: 100px;
    color: #182B4D;
    background-color: #DDE5EB;
    border: 1px solid #767676;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}


.gender select {
    margin-top: 5px;
    font-size: 13px;
    border: none;
    width: 200px;
    color: #182B4D;
    background-color: #DDE5EB;
    border: 1px solid #767676;
    border-radius: 3px;
    text-transform: capitalize;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

.color input {
    font-size: 13px;
    border: none;
    width: 300px;
    color: #182B4D;
    background-color: #e5edf3;
    border: 1px solid #767676;
    border-radius: 3px;
    text-align: center;
    padding: 5px;

}

.sizes input {
    font-size: 13px;
    border: none;
    width: 300px;
    color: #182B4D;

    border: 1px solid #bfbfbf;
    border-radius: 3px;
    text-align: center;
    padding: 5px;

}


.quantity-control {
    display: flex;
    align-items: center;
    gap: 10px;
}

.quantity-control button {
    width: 25px;
    height: 25px;
    font-weight: bold;
    font-size: 15px;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid #767676;
    background-color: #DDE5EB;
    color: #333;
    transition: 0.3s ease;
}

.quantity-control button:hover {
    background-color: #ccc;
}

.quantity-control input {
    width: 10%;
    padding: 3px;
    padding-left: 12px;
    font-size: 15px;
    border: none;
    text-align: center;
    color: #172a4c;
    background-color: #EFEFEF;
    border-radius: 3px;
    border: 1px solid #767676;
}

#quantityList {
    margin-top: 10px;
    list-style-type: none;
}

#quantityList li {
    margin-bottom: 5px;
}





.label-text {
    margin-top: 10px;
    margin-bottom: 5px;
}

.tips {
    margin-top: 5px;
    font-size: 13px;
    text-align: justify;
    margin-left: 10px;
    margin-right: 10px;
}

.color-holder {
    display: flex;
    gap: 10px;
    padding-bottom: 5px;
}

.size-holder {
    display: flex;
    gap: 5px;

}

.size-holder .box {
    border: 1px solid #DDE5EB;
    padding: 5px;
    margin-left: 2px;
    color: #182B4D;
    background-color: #DDE5EB;
    border-radius: 3px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 13px;
    border: 1px solid #767676;
}

.sizes {
    margin-top: 5px;
}

.sizes input {
    text-transform: uppercase;
}

.delete {
    color: #c20000;
    border: 1px solid #c20000;
}


.description-container {
    width: 96%;
    height: auto;
    padding: 10px;
    background-color: #EFEFEF;
    text-transform: capitalize;
    border-radius: 3px;
    border: 1px solid transparent;
}

.description-container p {
    text-align: justify;
    font-weight: normal;
    font-size: 13px;
    text-indent: 10px;
    color: #172a4c;
}

.description textarea {
    width: 96%;
    height: 300px;
    padding: 5px;
    color: #172a4c;

    text-transform: capitalize;
    border-radius: 5px;
    border: none;
    border: 1px solid #afafaf;
}


.hidden-note {
    font-size: 12px;
    padding: 5px;
    color: #767676;

}



































.show-add-product {
    display: none;
}



.header-text-add {
    width: 99%;
    background-color: #172a4c;
    padding: 5px;
    color: white;
}







.input-fields-container {
    background-color: #DDE5EB;
    height: 72vh;
    width: 74vh;
    padding: 10px;
    overflow-y: scroll;
    color: #182B4D;
}

.input-fields-container .input-fields {
    padding: 10px;

}



.input-fields-container input {
    font-size: 16px;
    height: 30px;
    border-radius: 5px;
    width: 98%;
    padding-left: 5px;
    border: 1px solid #ccc;
}

.input-fields-container select {
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    width: 99%;

    border: 1px solid #ccc;
}

.input-fields-container textarea {
    font-size: 14px;
    height: 30px;
    border-radius: 5px;
    width: 98%;
    padding: 5px;
    text-transform: capitalize;
    height: 50px;
    border: 1px solid #ccc;
    background-color: #DDE5EB;
}




.product-name {
    margin-top: 20px;
}



















#colorList {
    margin-top: 10px;
    list-style: none;
}

#colorList li {
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 50%;
    cursor: pointer;
}

#colorList li:hover {
    transform: scale(1.2);
}


.select-colors {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


#colorInput {
    width: 430px;
    height: 21px;
}

#colorPicker {
    width: 50px;
    padding: 0;
}

#addButton {
    height: 100%;
    padding: 5px;
}






#sizeInput {
    text-transform: uppercase;
}


#sizeList {
    margin-top: 10px;
    list-style: none;
    text-transform: uppercase;
}

#sizeList li {
    display: inline-block;
    background-color: lightgray;
    padding: 5px;
    margin-right: 5px;
    border-radius: 5px;
    cursor: pointer;
}

#sizeList li:hover {
    background-color: gray;
    color: white;
}



#sizesInput {
    text-transform: uppercase;
}






.input-wrapper {
    position: relative;
}

.currency-symbol {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
}

#priceInput {
    padding-left: 20px;
    width: 96%;
}













.add-image-container {
    background-color: #DDE5EB;
    height: 72vh;
    width: 74vh;
    padding: 10px;
    color: #182B4D;
}

.image-container {
    margin: 10px;
    margin-top: 20px;
}

.preview-holder {
    margin-top: 20px;
    width: 100%;
    height: 300px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
}

.preview {
    width: auto;
    height: 250px;
    display: none;
}

.preview img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.select-img {
    margin-top: 20px;
}


.button-holder {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}

.button-holder button {
    padding: 7px;
    border-radius: 5px;
    border: 1px solid;
}

.button-holder #add-product {
    background-color: #182B4D;
    color: white;
}

.button-holder #cancel {

    border: 1px solid rgb(164, 164, 164);

}

.button-holder #cancel:hover {
    background-color: #dbdbdb;
    transition: 0.3s;
}