body {
    position: relative;
    width: 100%;
    height: 100vh;
}


/* Dark mode styles */
body.dark-mode {
    background-image: url(../../system_images/readymade-dark.svg);
    /* Dark mode background image */
}

.overall-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}




/* main */
.overall-container main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

main .header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    padding: 0px;
    background-color: var(--first-bgcolor);
    z-index: 10;
}


.header-container .header-label-container {
    font-size: 2rem;
    color: var(--text-color);
    font-weight: bold;
}

.header-container .header-label-container i {
    margin-right: 10px;
}




.header-container .header-icons-container {
    display: flex;
    gap: 40px;
    margin-right: 40px;
}

.header-container .header-icons-container i {
    font-size: 2rem;
    cursor: pointer;
    color: var(--text-color);
}

.header-container .header-icons-container i:hover {
    opacity: .5;
    transition: .3s;
    color: #00b4b455;
}





/* Default (light mode) styles */
body main .content-container {
    width: 100%;
    height: calc(100vh - 60px);
    background-image: url(../../system_images/home-light.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 20px;
}

/* Dark mode styles */
body.admin-dark-mode main .content-container {
    background-image: url(../../system_images/home-dark.svg);
    /* Dark mode background image */
}











































/* online request */
.content-container .content {
    width: 100%;
    height: 100%;
    background-color: var(--first-bgcolor);
    border-radius: 5px;
    box-shadow: 0 2px 4px var(--box-shadow);
    display: flex;
    flex-direction: column;
    padding: 10px;
}


.content .search-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-container input {
    font-size: 1.5rem;
    color: var(--text-color);
    border: 0;
    border-bottom: 1px solid var(--box-shadow);
    padding: 10px;
    background-color: var(--second-bgcolor);
    border-radius: 5px;
}


.search-container select {
    font-size: 1.5rem;
    color: var(--text-color);
    border: 0;
    border-bottom: 1px solid var(--box-shadow);
    padding: 10px;
    background-color: var(--second-bgcolor);
    border-radius: 5px;
}

/* button for add reservation in walkin */
.search-container button {
    font-size: 1.5rem;
    color: var(--text-color);
    border: 0;
    border-bottom: 1px solid var(--box-shadow);
    padding: 10px;
    background-color: var(--second-bgcolor);
    border-radius: 5px;
}

.search-container button:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
}








/* table container */
.content .table-container {
    height: 100%;
    margin-top: 10px;
    border-radius: 5px;
    border-bottom: 1px solid var(--box-shadow);
    overflow-y: scroll;
}


.table-container table {
    width: 100%;
    border-collapse: collapse;

}

/* Style the table header */
th {
    background-color: var(--button-bg);
    /* Dark color */
    color: var(--pure-white);
    padding: 10px;
    text-align: left;
    font-size: 1.5rem;
    border: 1px solid var(--box-shadow);
    position: sticky;
    top: 0;

}

/* Style the table rows */
td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    text-align: center;
    vertical-align: middle;
    font-size: 1.4rem;
    color: var(--text-color);
    border: 1px solid var(--box-shadow);
    cursor: pointer;
    max-width: 100px;

}

/* Style the alternate rows */
tr:nth-child(even) {
    background-color: var(--second-bgcolor);
}

/* Add hover effect on rows */
tr:hover {
    background-color: var(--hover-color);
}

/* Style the images in the table */
td img {
    margin-right: 5px;
    max-width: 30px;
    max-height: 30px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}



















/* view_request */

.content h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    border: 1px solid var(--box-shadow);
    background-color: var(--button-bg);
    color: var(--pure-white);
    border-radius: 5px;
    margin-bottom: 0;
}


.content .request-details-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: space-between;
    height: 100%;
    overflow: scroll;

}

.request-details-container button {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--pure-white);
    background-color: var(--button-bg);
    padding: 10px 15px;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
    border: 1px solid var(--box-shadow);
}




.cancel_button {
    color: var(--cancel-color);
    background-color: var(--second-bgcolor);
}




.services-box-container {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    padding: 10px 0 20px 0;
    overflow-x: scroll;
    /* Allow horizontal scrolling */
    scroll-behavior: smooth;

}



.request-details-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bgcolor);
    border: 1px dashed var(--box-shadow);
    padding: 20px;
    gap: 10px;
    border-radius: 5px;

}

.request-details-img img {
    height: 200px;
    width: auto;
    background-color: var(--first-bgcolor);
    padding: 10px;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
}

.information-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: var(--first-bgcolor);
}



.information-container h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    background-color: var(--first-bgcolor);
    padding: 10px;
    border-bottom: 1px solid var(--text-shadow);

}

.information-container .note {
    font-size: 1.5rem;
    text-align: justify;

    margin-top: 10px;
}


.request-details-container2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: space-between;
}

.request-details-container2 .request-details {
    display: flex;
    flex-direction: row;
    gap: 5px;
    justify-content: space-between;
    align-items: center;
    color:#ffeded;
}

.request-details label {
    font-size: 1.9rem;
    font-weight: bold;
}

.request-details label em {
    font-size: 1.3rem;
}

.request-details input {
    font-size: 1.8rem;
    padding: 10px;
    border-radius: 0;
    border: 0;
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    text-align: right;
    flex-grow: 1;

}

.request-details select {
    font-size: 1.7rem;
    padding: 7px;
    border-radius: 0;
    border: 0;
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    text-align: right;
    flex-grow: 1;

}



.request-details textarea {
    width: 100%;
    font-size: 2rem;
    padding: 7px;
    border-radius:0;
    border: 0;
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    
}


.request-details #measurement {
    font-size:2rem;
    height: 200px;
}

.request-details #refund-reason {
    height: 50px;
}

.view-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    padding-top: 10px;
    position: relative; /* Ensure positioning for the pseudo-element */


}
.view-button-container::before {
    content: '';
    position: absolute;
    top: -20px; /* Position shadow above the box */
    left: 0;
    width: 100%;
    height: 20px; /* Height of the shadow area */
    background: linear-gradient(to top, var(--hover-color), transparent);

    /* Creates a shadow fading upwards */
}



.view-button-container #return-request {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 5px 20px;
    font-size: 1.7rem;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    border: 1px solid var(--box-shadow);
}

#return-request:hover {
    background-color: var(--hover-color);
    transition: ease-in-out 0.3s;
}













/* addtional info container */

.additional-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.additional-info-container textarea {
    height: 150px;
    text-transform: uppercase;
}


































/* add request */

































/* view_order */

.content h1 {
    text-align: center;
    font-size: 2.5rem;
    padding: 10px;
    border: 1px solid var(--box-shadow);
    background-color: var(--button-bg);
    color: var(--pure-white);
    border-radius: 5px;
    margin-bottom: 0;
}


.content .order-details-container {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    color: var(--text-color);
    justify-content: space-between;
    height: 100%;
    overflow: scroll;
    border-bottom: 1px solid var(--box-shadow);
}

.order-details-container button {
    margin-top: 10px;
    font-size: 1.7rem;
    font-weight: bold;
    color: var(--pure-white);
    background-color: var(--button-bg);
    padding: 10px 15px;
    width: fit-content;
    border-radius: 5px;
    align-self: center;
    border: 1px solid var(--box-shadow);
}






.services-box-container {
    display: flex;
    gap: 20px;
    margin: 0 20px;
    padding: 10px 0 20px 0;
    overflow-x: scroll;
    /* Allow horizontal scrolling */
    scroll-behavior: smooth;

}



.order-details-img {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    background-color: var(--second-bgcolor);
    border: 1px dashed var(--box-shadow);
    padding: 20px;
    gap: 10px;
    border-radius: 5px;

}

.order-details-img img {
    height: 200px;
    width: auto;
    background-color: var(--first-bgcolor);
    padding: 10px;
    border: 1px solid var(--box-shadow);
    border-radius: 5px;
}


.information-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    background-color: var(--first-bgcolor);
}



.information-container h2 {
    text-align: center;
    font-size: 2.5rem;
    text-transform: capitalize;
    background-color: var(--first-bgcolor);
    padding: 10px;
    border-bottom: 1px solid var(--text-shadow);

}

.information-container .note {
    font-size: 1.5rem;
    text-align: justify;

    margin-top: 10px;
}


.order-details-container2 {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 40px;
    justify-content: center;
}

.order-details-container2 .order-details {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.order-details label {
    font-size: 1.8rem;
    font-weight: bold;
}

.order-details label em {
    font-size: 1.3rem;
}

.order-details input {
    font-size: 1.7rem;
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
    border-bottom: 1px solid var(--text-shadow);
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    text-align: center;

}

.order-details select {
    font-size: 1.7rem;
    width: 200px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
    border-bottom: 1px solid var(--text-shadow);
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    text-align: center;

}



.order-details textarea {
    font-size: 1.7rem;
    width: 1000px;
    height: 50px;
    padding: 7px;
    border-radius: 5px;
    border: 0;
    border-bottom: 1px solid var(--text-shadow);
    color: var(--text-color);
    background-color: var(--second-bgcolor);
}

.order-details #measurement {
    width: 200px;
    height: 300px;
}

.order-details #refund-reason {
    width: 1000px;
    height: 50px;
}

.view-button-container {
    display: flex;
    align-items: center;
    gap: 20px;
    justify-content: center;
    margin-top: 10px;
}




.view-button-container #return-order {
    background-color: var(--second-bgcolor);
    color: var(--text-color);
    padding: 5px 20px;
    font-size: 1.7rem;
    border-radius: 5px;
    font-weight: bold;
    border: 0;
    border: 1px solid var(--box-shadow);
}

#return-order:hover {
    background-color: var(--hover-color);
}

.first-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}


.first-button-container button:hover {
    background-color: var(--hover-color);
}


.first-button-container .cancel_button {
    color: var(--cancel-color);
    background-color: var(--second-bgcolor);
    border: 0;
    border: 1px solid var(--box-shadow);
}

.first-button-container .accept_button {
    color: var(--text-color);
    background-color: var(--second-bgcolor);
    border: 0;
    border: 1px solid var(--box-shadow);
}











/* addtional info container */

.additional-info-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
}


.additional-info-container textarea {
    height: 150px;
    text-transform: uppercase;
}


































/* add request */